<!-- About Us Page Layout -->
<div class="about-us-page">

    <!-- Hero Section -->
    <app-about-hero [companyInfo]="data()?.companyInfo" />

    <!-- Main Content Section -->
    <section class="main-content-section">
        <app-experience-section [showCertification]="false" [showCta]="false" [isAboutComponent]="true"
            [experienceData]="data()?.experienceData" />
    </section>

    <!-- Products Section -->
    <app-products-technology
        [showCallToAction]="false"
        [productTypes]="data()?.productTypes"
        [technicalBenefits]="data()?.technicalBenefits"
    />

    <!-- Testimonials Section -->
    <app-clients-testimonials [testimonials]="data()?.testimonials" />


</div>