<!-- About Us Page Layout -->
<div class="about-us-page">

    <!-- Hero Section -->
    <app-about-hero [companyInfo]="data()?.companyInfo" />

    <!-- Main Content Section -->
    <section class="main-content-section">

        <!-- <h1 class="col-10 mx-auto text-center fw-bold">
            Garantizamos calidad para transformar tus espacios
        </h1>

        <p class="col-8 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo accusantium
            magnam possimus veritatis quae, obcaecati culpa odio delectus autem sunt corporis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, quo explicabo architecto quam quod
            rem provident eos dolorem porro deleniti voluptatum ipsum earum accusamus iste impedit laborum repellat
            doloremque aspernatur!
        </p> -->

        <app-experience-section [showCertification]="false" [showCta]="false" [isAboutComponent]="true"
            [experienceData]="experienceData" />

    </section>

    <!-- Products Section -->
    <app-products-technology
        [showCallToAction]="false"
        [productTypes]="data()?.productTypes"
        [technicalBenefits]="data()?.technicalBenefits"
    />

    <!-- Testimonials Section -->
    <app-clients-testimonials [testimonials]="data()?.team" />


</div>