<!-- Contact Page Layout -->
<div class="contact-page">

  <!-- Hero Section -->
  <app-contact-hero></app-contact-hero>

  <!-- Main Contact Section -->
  <section class="main-contact-section">
    <div class="container">
      <div class="contact-container row g-0">

        <!-- Left Side - Get in Touch Info -->
        <div class="col-lg-6">
          <app-contact-info [info]="data()?.info"/>
        </div>

        <!-- Right Side - Map -->
        <div class="col-lg-6">
          <div class="map-wrapper">
            <div class="map-placeholder">
              <iframe title="Glazing Location Map"
                [src]="data()?.info?.mapUrl"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Contact Form Section -->
  <section class="contact-form-section">
    <div class="container">
      <app-contact-form />
    </div>
  </section>

</div>