<app-hero-section-sliders [sliderItems]="sliderItems"/>
<app-about-company
    [bannerImage]="data()?.aboutCompany?.bannerImage || ''"
    [companyStats]="data()?.aboutCompany?.companyStats || []"
    [companyInfo]="data()?.aboutCompany?.companyInfo || { title: '', subtitle: '', description: '' }"
    [showProgressBars]="data()?.aboutCompany?.showProgressBars ?? false"
    [skills]="data()?.aboutCompany?.skills || []"
    [contactInfo]="data()?.aboutCompany?.contactInfo || { description: '', phone: '' }"
/>
<app-services-section
    [sectionInfo]="data()?.services?.sectionInfo || { subtitle: '', title: '' }"
    [services]="data()?.services?.services || []"
/>
<div style="padding: 80px 0;">
    <app-experience-section
        [showCertification]="false"
        [showCta]="data()?.experience?.showCta ?? true"
        [isAboutComponent]="data()?.experience?.isAboutComponent ?? false"
        [experienceData]="data()?.experience?.experienceData || {}"
        [showClients]="true"
    />
</div>
<app-faq-section [faqItems]="data()?.faqs?.faqItems || []"/>