<!-- Section Header -->
<div class="section-header">
  <h2 class="section-title">Brindamos soluciones seguras, estéticas y duraderas</h2>
  <span class="section-subtitle">En Glazing trabajamos exclusivamente con instaladores certificados bajo nuestro sello Glazing Certified™, lo que garantiza un servicio profesional, seguro y de alta calidad.</span>
</div>

<div class="container-right d-flex justify-content-between flex-wrap col-12 mx-auto">

  <!--  -->
  <div class="col-12 col-lg-6 d-flex align-items-center gap-3 mb-4">
    <span class="fa fa-check-circle icon"></span>
    <div class="d-flex flex-column">
      <p class="mb-0 fw-semibold">
        Capacitación técnica actualizada
      </p>
      <p class="info-text-content mb-0 col-11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        similique
        consectetur amet cum, provident dolorum delectus</p>
    </div>
  </div>

  <!--  -->
  <div class="col-12 col-lg-6 d-flex align-items-center gap-3 mb-4">
    <span class="fa fa-check-circle icon"></span>

    <div class="d-flex flex-column">
      <p class="mb-0 fw-semibold">
        Certificación en trabajos en altura
      </p>
      <p class="info-text-content mb-0 col-11">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est labore
        praesentium dolorum? Illo aliquam rerum hic</p>
    </div>
  </div>

  <!--  -->
  <div class="col-12 col-lg-6 d-flex align-items-center gap-3 mb-4">
    <span class="fa fa-check-circle icon"></span>

    <div class="d-flex flex-column">
      <p class="mb-0 fw-semibold">
        Cobertura de seguros correspondientes
      </p>
      <p class="info-text-content mb-0 col-11">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
        adipisci
        natus possimus vero repellendus vitae doloremque ab eligendi</p>
    </div>
  </div>

  <!--  -->
  <div class="col-12 col-lg-6 d-flex align-items-center gap-3 mb-4">
    <span class="fa fa-check-circle icon"></span>

    <div class="d-flex flex-column">
      <p class="mb-0 fw-semibold">
        Documentación formal y habilitaciones laborales
      </p>
      <p class="info-text-content mb-0 col-11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
        voluptatibus
        doloremque!</p>
    </div>
  </div>

</div>