<ngb-carousel 
  [interval]="5000" 
  [pauseOnHover]="true" 
  [pauseOnFocus]="true"
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  class="carousel-fade">
  
  <ng-template ngbSlide *ngFor="let slide of sliderItems; trackBy: trackBySlideId" [id]="slide.id">
    <div class="carousel-item-wrapper">
      <img 
        class="d-block w-100 carousel-image" 
        [src]="slide.imageUrl" 
        [alt]="slide.altText"
        loading="lazy">
      
      <!-- Caption overlay -->
      <div class="carousel-caption d-none d-md-block" *ngIf="slide.title || slide.description">
        <h2 class="display-4 fw-bold mb-3" *ngIf="slide.title">{{ slide.title }}</h2>
        <p class="lead" *ngIf="slide.description">{{ slide.description }}</p>
      </div>
    </div>
  </ng-template>
  
</ngb-carousel>