.member-layout {
  min-height: 100vh;
  // background: #f4f6f8;
  background: linear-gradient(120deg, #e8f1fcbd 0%, #f8f9fa 100%);
  // padding: 0;
  padding: 80px;
}

.main-content {
  margin-top: 80px; // igual a la altura del navbar
  // padding: 2rem 0;
}
