 <div class="contact-info-wrapper">
            <div class="section-content">
              <h2 class="section-title">Contáctenos</h2>
              <p class="section-description">
                Brindamos nuestros servicios en toda Córdoba y alrededores. Consultá por cobertura en otras zonas.
              </p>

              <div class="contact-info">
                <h5 class="fw-semibold mb-4 contact-info-title">Información de Contacto</h5>

                <div class="d-flex flex-column gap-4">

                  <!-- Dirección -->
                    <div class="d-flex align-items-center gap-4">
                      <span class="fa fa-map-marker-alt contact-icon"></span>
                      <div class="d-flex flex-column">
                        <p class="mb-0 fw-semibold">
                          Dirección
                        </p>
                        <p class="info-text-content mb-0">{{ info.address }}</p>
                      </div>
                    </div>

                    <!-- Email -->
                    <div class="d-flex align-items-center gap-4">
                      <span class="fa fa-envelope contact-icon"></span>

                      <div class="d-flex flex-column">
                        <p class="mb-0 fw-semibold">
                          Email
                        </p>
                        <p class="info-text-content mb-0">{{info.email}}</p>
                      </div>
                    </div>

                    <!-- Teléfono -->
                    <div class="d-flex align-items-center gap-4">
                      <span class="fa fa-phone contact-icon"></span>

                      <div class="d-flex flex-column">
                        <p class="mb-0 fw-semibold">
                          Teléfono
                        </p>
                        <p class="info-text-content mb-0">+54 9 351 123-4567</p>
                      </div>
                    </div>

                </div>

              </div>

            </div>
          </div>