<div class="advisors-table-wrapper">
  <div class="table-container">
    <table class="advisors-table">
      <thead>
        <tr>
          <th class="col-rank">#</th>
          <th class="col-advisor">Asesor</th>
          <th class="col-props">Propiedades</th>
          <th class="col-sales">Vendidas</th>
          <th class="col-rented">Alquiladas</th>
          <th class="col-queries">Consultas</th>
          <th class="col-conversion">Conversión</th>
          <th class="col-time">T. Resp.</th>
          <th class="col-performance">Performance</th>
        </tr>
      </thead>
      <tbody>
        @for (advisor of advisors(); track advisor.asesorId) {
          <tr>
            <td class="col-rank">
              <span class="rank-badge" [class.top-3]="advisor.ranking! <= 3">
                {{ advisor.ranking }}
              </span>
            </td>
            <td class="col-advisor">
              <div class="advisor-cell">
                @if (advisor.fotoUrl) {
                  <img [src]="advisor.fotoUrl" [alt]="advisor.nombre" class="advisor-avatar">
                } @else {
                  <div class="advisor-avatar-initials">{{ getInitials(advisor.nombre) }}</div>
                }
                <span>{{ advisor.nombre }}</span>
              </div>
            </td>
            <td class="col-props">{{ advisor.propiedadesActivas }}</td>
            <td class="col-sales">{{ advisor.propiedadesVendidas }}</td>
            <td class="col-rented">{{ advisor.propiedadesAlquiladas }}</td>
            <td class="col-queries">
              <div class="queries-cell">
                <span class="queries-ratio">{{ advisor.consultasRespondidas }}/{{ advisor.consultasRecibidas }}</span>
                <span class="queries-converted">({{ advisor.consultasConvertidas }} conv.)</span>
              </div>
            </td>
            <td class="col-conversion">
              <div class="conversion-cell">
                <div class="conversion-bar">
                  <div class="conversion-fill" [style.width.%]="advisor.tasaConversion"></div>
                </div>
                <span class="conversion-text">{{ advisor.tasaConversion }}%</span>
              </div>
            </td>
            <td class="col-time">{{ advisor.tiempoPromedioRespuesta }}</td>
            <td class="col-performance">
              <span class="performance-badge" [class]="getPerformanceConfig(advisor.performanceScore).class">
                {{ getPerformanceConfig(advisor.performanceScore).label }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
