<nav class="breadcrumbs" aria-label="breadcrumb">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item" *ngFor="let item of items; let last = last" [class.active]="item.active || last">
      <a *ngIf="item.link && !item.active && !last" [routerLink]="item.link">
        {{ item.label }}
      </a>
      <span *ngIf="!item.link || item.active || last">
        {{ item.label }}
      </span>
      <svg *ngIf="!last" class="breadcrumb-separator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="9 18 15 12 9 6"/>
      </svg>
    </li>
  </ol>
</nav>
